<div class='todolist'>
  <h3 style="text-align: center" class="mat-display-1" *ngIf="isAuthenticated&&username" [@fadein_anim]>Welcome {{username}}</h3>
  <mat-card *ngIf="!isAuthenticated">
    <mat-card-header>
      <mat-card-title>Welcome Stranger!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      NoteIt! is a simple to do list. <a routerLink="/signup">Register</a> / <a routerLink="/signin">Sign in</a> to save your list across devices!
    </mat-card-content>
  </mat-card>
  <br>
  <div class="userinput">
    <mat-form-field style="flex: 75%">
      <input matInput placeholder="Please enter to do item here" type="text" #itemInput>
    </mat-form-field>
    <button mat-fab color="accent" (click)="addItem(itemInput.value);itemInput.value=''" [disabled]="!itemInput.value"> Add </button>
  </div>
  <mat-divider></mat-divider>
  <div class="navlist">
    <p class="mat-typography" *ngIf="(toDoItemsState | async).toDoItems.length===0">Your list is empty</p>
    <mat-nav-list>
     <mat-list-item *ngFor="let item of (toDoItemsState | async).toDoItems; index as i" (click)="itemClicked($event, i)" [@fadein_anim]>
       <span [ngStyle]="{'text-decoration': item.done? 'line-through' : 'none'}" style="margin:0 auto">
        {{item.item}}
      </span>
      <mat-icon (click)="deleteItem(i)" [ngStyle]="{'visibility': item.done? 'visible' : 'hidden'}">delete_forever</mat-icon>
      </mat-list-item>
    </mat-nav-list>
    <p class="mat-typography" [ngStyle]="{'color': savedSuccess? 'green' : 'red'}">{{savedStatus}}</p>
    <div class="buttons" *ngIf="isAuthenticated">
      <button mat-raised-button color="primary" (click)="saveList()">Save</button>
      <button mat-raised-button color="warn" (click)="deleteAll()" [disabled]="((toDoItemsState | async).toDoItems).length===0">Clear List</button>
    </div>
  </div>
</div>
