.todolist{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
}

.todolist > *{
  width: 100%;
  margin: 10px 0;
}

.todolist .mat-card .mat-card-header .mat-card-title{
  font-size: 1.5em
}

.todolist .mat-card .mat-card-content{
  padding: 0 1em
}

.userinput{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navlist{
  display: flex;
  flex-direction: column;
}

.navlist .mat-nav-list{
  margin: 0 20px;
}

.navlist > p{
  display: block;
  margin:0 auto;
  font-style:italic;
  color: #b4b4b4
}

.navlist .mat-nav-list .mat-list-item{
  border-radius: 15px;
}

.navlist .buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
