mat-toolbar{
  /*width: 800px;*/
  padding: 40px;
  border-radius: 20px;
}

mat-toolbar > button
 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;/**the font size cause issue with the location of mat-button div**/
  margin: 5px;
  text-align: center;
}

@media (max-width: 450px) {
    mat-toolbar{
        flex-direction: column;
        height: 300px;
    }
}
